.Lateset_Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_sec {
    width: 80%;
    background: url('../../../Images/bus.png') no-repeat right;
}

.header_sec h1 {
    font-size: 28px;
    font-weight: 700;
    color: rgba(39, 43, 49, 1);
    margin-right: 7%;
}

.Search_section {
    width: 75%;
    border-radius: 10px;
    padding: 2% 0;
    margin-bottom: 3%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.formInput_from {
    width: 30%;
    height: 3rem;
    padding: 1px 35px 5px 0;
    font-size: 20px;
    border-radius: 5px;
    margin: 0 0.5%;
    border: 2px solid rgb(183, 183, 183);
    outline: none;
    direction: rtl;
    background-color: transparent;
    background: url('../../../Images/locIcon.png') no-repeat 97%;
    color: rgb(74, 74, 74);
}

.formInput_from::placeholder {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
	font-family: 'Yekan-bakh';
}

.formInput_To {
    width: 30%;
    height: 3rem;
    padding: 1px 35px 5px 0;
    font-size: 20px;
    border-radius: 5px;
    margin: 0 0.5%;
    border: 2px solid rgb(183, 183, 183);
    outline: none;
    direction: rtl;
    background-color: transparent;
    background: url('../../../Images/toIcon.png') no-repeat 97%;
    color: rgb(74, 74, 74);
}

.formInput_To::placeholder {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
	font-family: 'Yekan-bakh';
}

.formInput_date {
    width: 30%;
    height: 3rem;
    padding: 1px 35px 5px 0;
    font-size: 20px;
    border-radius: 5px;
    margin: 0 5% 0 0;
    border: 2px solid rgb(183, 183, 183);
    outline: none;
    direction: rtl;
    background-color: transparent;
    background: url('../../../Images/date.png') no-repeat 97%;
    color: rgb(74, 74, 74);
}

.formInput_date::placeholder {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
	font-family: 'Yekan-bakh';
}

.formButtons {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formButtonsDisabled {
    display: none;
}

.submitButton {
    font-family: Yekan-bakh;
    display: inline-block;
    border: none;
    color: var(--grey);
    text-align: center;
    border-radius: 10px;
    background: rgba(255, 212, 60, 1);
    box-shadow: 0px 0px 11px 0px rgba(253, 230, 19, 0.9);
    font-size: 16px;
    width: 80%;
    height: 3.5rem;
    transition: all 0.2s;
    cursor: pointer;
}

.submitButton:hover {
    background: rgb(237, 197, 53);
}

.btn_sec {
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.btn_div_left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn_div_right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn_div_right button {
    width: 8.5rem;
    height: 3rem;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(39, 43, 49, 1);
    box-shadow: rgba(151, 151, 151, 0.35) 0px 3px 8px;
    border-radius: 5px;
    align-items: center;
	font-family: 'Yekan-bakh';
    cursor: pointer;
    border: none;
    outline: none;
    background: var(--bg_white);
    position: relative;
    display: inline-flex;
    justify-content: center;
    transition: all ease-in 0.3s;
}

.btn_div_left select {
    width: 12.5rem;
    height: 3rem;
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 0 50px;
    box-shadow: rgba(151, 151, 151, 0.35) 0px 3px 8px;
    border-radius: 5px;
    border: none;
	font-family: 'Yekan-bakh';
}

.ticket_sec {
    width: 75%;
    margin-top: 2%;
    height: auto;
}

@media (max-width: 720px) {

    .Search_section {
        width: 65%;
        height: 60%;
    }

    .formContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .formInput_from {
        width: 70%;
        margin: 1% 0;
    }

    .formInput_To {
        width: 70%;
        margin: 1% 0;
    }

    .formInput_date {
        width: 70%;
        margin: 5% 0 0 0;
    }

    .formButtons {
        width: 100%;
        margin-top: 5%;
    }

    .submitButton {
        width: 78%;
    }

    .btn_sec {
        width: 80%;
        margin-top: 3%;
    }

    .ticket_sec {
        margin-top: 20%;
    }
}

@media (max-width: 420px) {

    .header_sec {
        width: 80%;
        margin-top: 60%;
    }

    .Search_section {
        width: 80%;
        height: 100%;
        margin-top: 5%;
        padding: 8% 0;
    }

    .formContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .formInput_from {
        width: 70%;
        margin: 1% 0;
    }

    .formInput_To {
        width: 70%;
        margin: 1% 0;
    }

    .formInput_date {
        width: 70%;
        margin: 8% 0 0 0;
    }

    .formButtons {
        width: 100%;
        margin-top: 8%;
    }

    .submitButton {
        width: 80%;
    }

    .btn_sec {
        width: 80%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .btn_div_left {
        margin-top: 5%;
    }

    .btn_div_left select {
        width: 18rem;
    }

    .ticket_sec {
        margin-top: 40%;
    }

}